.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-color: aquamarine;
}

.skills__list-item {
  margin: 0.5em;
}

.icon{
  margin-right: 10px;
  color: var(--clr-highlight);
}